[user]
	email = taradruffel@outlook.com
	name = "Tara Druffel" 

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
  prompt =  false
	keepBackup = false
[merge]
	tool = nvimdiff
[commit]
	template = /Users/taradruffel/.gitmessage
