<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>50F9C57E-86A4-4969-BE45-389C889991E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docrs</string>
			<key>text</key>
			<string>Search crates.io for '{query}'</string>
			<key>url</key>
			<string>https://docs.rs/releases/search?query={query}</string>
		</dict>
		<key>F81E1EBC-7335-4EBC-89C5-FAE20A6C6DA6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>doc</string>
			<key>text</key>
			<string>Search devdocs.io for '{query}'</string>
			<key>url</key>
			<string>https://devdocs.io/#q={query}</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
